<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="clock"></div>
    <div class="trains">
      <div class="line-456 train">
        <div class="subway-icon">6</div>
        <div class="subway-status ss6"></div>
      </div>
      <div class="line-bdfm train">
        <div class="subway-icon">F</div>
        <div class="subway-status ssf"></div>
      </div>
      <div class="line-l train">
        <div class="subway-icon">L</div>
        <div class="subway-status ssl"></div>
      </div> 
    </div>
    <div class="weather">
      <div class="current-temp"></div>
      <div class="feels-like"></div>
      <img class="weather-icon" src="">
      <div class="weather-description"></div>
    </div>
  </div>

  <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>